#list {
    list-style-type: none;
    border: 1px solid;
    padding: 0;
    width: 160px;
    text-align: center;
    margin: 0;
    max-height: 165px;
    overflow-y: auto;
}

.wrapper {
    display: inline-block;
    position: relative;
}

#match-list {
    max-height: 243px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
    height: 40px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    cursor: pointer;
}

.card:hover {
    background: lightcoral;
    color: #fff;
}

.search-icon {
    width: 17px;
    position: absolute;
    right: 10px;
    margin: 10px 0 0 0;
}

#search {
    padding: 10px 24px 10px 10px;
    width: 200px;
}

::-webkit-scrollbar-track {
    background: darkgray; 
  }

  ::-webkit-scrollbar {
    width: 5px;
  } 

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }

  .hidden {
      display: none;
  }